.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
start/azure-function-manager/obj/azure-function-manager.csproj.nuget.dgspec.json
start/azure-function-manager/obj/azure-function-manager.csproj.nuget.g.props
start/azure-function-manager/obj/azure-function-manager.csproj.nuget.g.targets
start/azure-function-manager/obj
start/azure-function-manager/bin
start/azure-function-manager/obj/project.assets.json
start/azure-function-manager/obj/project.nuget.cache
start/azure-function-entities/obj/azure-function-entities.csproj.nuget.dgspec.json
start/azure-function-entities/obj/azure-function-entities.csproj.nuget.g.props
start/azure-function-entities/obj/azure-function-entities.csproj.nuget.g.targets
start/azure-function-entities/obj/project.assets.json
start/azure-function-entities/obj/project.nuget.cache
start/azure-function-entities/obj
start/azure-function-entities/bin
.editorconfig
start/.vscode/extensions.json
start/.vscode/launch.json
start/.vscode/settings.json
start/.vscode/tasks.json
end/.vscode/
end/azure-function-managers/obj
end/azure-function-managers/bin
end/azure-function-entities/obj
end/azure-function-entities/bin
end/azure-function-managers/bin/Debug/net5.0/azure-function-entities.dll
